{% extends "base.html" %}
{% block title %}Modifier le profil{% endblock title %}

{% block content %}
<div class="flex flex-col items-center justify-center w-full">
        
        <div class="bg-white rounded-lg shadow-md p-8 w-full max-w-md">
            <h1 class="text-3xl font-bold text-center text-slate-800 mb-8">
                Modifier le profil
            </h1>
            <form method="POST" class="space-y-4">
                {% csrf_token %}
                <div class="text-slate-700">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="w-full bg-slate-800 hover:bg-slate-900 text-white font-semibold py-3 px-4 rounded-lg transition duration-200 mt-6">
                    Enregistrer les modifications
                </button>
            </form>
        </div>

    </div>

{% endblock content %}

{% block back %}
<a href="{% url 'profile' %}">Retour au profil</a>
{% endblock back %}