{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Assur'Aimant{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur Assur'Aimant</h1>
        <nav>{% block nav %}
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'register' %}">Creation de compte</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
        {% endblock %}</nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}  
            <p>&copy; 2026 Assur'Aimant. Tous droits réservés.</p>
        {% endblock %}
    </footer>
</body>

</html>