{% extends 'base.html' %}
<head>
    <link rel="stylesheet" href="home/style.css">
</head>
<body>
    <main>
        {% block content %}
        <section>
            <h2>Pourquoi choisir Assur'Aimant ?</h2>
            <p>Nous offrons des solutions d'assurance adaptées à vos besoins, avec un service client exceptionnel et des
                tarifs compétitifs. Faites confiance à notre expertise pour protéger ce qui compte le plus pour vous.
            </p>
        </section>
        <section>
            <h2>Prédiction des Charges d'Assurance</h2>
            <p>Chez Assur'Aimant, nous vous offrons la possibilité de créer un compte personnel et de vous connecter
                pour accéder à notre service exclusif de prédiction des charges d'assurance. Une fois connecté, vous
                pourrez saisir vos informations personnelles, telles que votre âge, votre statut de fumeur, le nombre
                d'enfants à charge, votre région, et bien plus encore. Ces informations nous permettront de vous fournir
                une estimation précise et personnalisée de vos charges d'assurance.</p>
            <p>Rejoignez-nous dès aujourd'hui pour bénéficier de ce service gratuit et simplifier la gestion de vos
                assurances !</p>
        </section>
        {% endblock %}
    </main>
</body>