{% extends 'base.html' %}

<head>
    <link rel="stylesheet" href="../../static/home/style.css">
</head>

<body>
    <main>
        {% block content %}
        <section>
            <h2>Pourquoi choisir Assur'Aimant ?</h2>
            <p>Nous offrons des solutions d'assurance adaptées à vos besoins, avec un service client exceptionnel et des
                tarifs compétitifs. Faites confiance à notre expertise pour protéger ce qui compte le plus pour vous.
            </p>
        </section>
        <section>
            <h2>Prédiction des Charges d'Assurance</h2>
            <p>Chez Assur'Aimant, nous vous offrons la possibilité de créer un compte personnel et de vous connecter
                pour accéder à notre service exclusif de prédiction des charges d'assurance. Une fois connecté, vous
                pourrez saisir vos informations personnelles, telles que votre âge, votre statut de fumeur, le nombre
                d'enfants à charge, votre région, et bien plus encore. Ces informations nous permettront de vous fournir
                une estimation précise et personnalisée de vos charges d'assurance.</p>
            <p>Rejoignez-nous dès aujourd'hui pour bénéficier de ce service gratuit et simplifier la gestion de vos
                assurances !</p>
        </section>
        <section>
            <h2>À propos de nous</h2>
            <p>Assur’Aimant est une plateforme créée en 2026 par une équipe passionnée par l’assurance et les nouvelles
                technologies, avec pour objectif de simplifier la gestion et la prédiction des charges d’assurance.

                Face à la complexité croissante des offres et des coûts liés à l’assurance, nous avons souhaité proposer
                une solution claire, accessible et utile à tous. Assur’Aimant permet aux utilisateurs d’obtenir des
                estimations personnalisées de leurs charges d’assurance en fonction de leur profil et de leur situation
                personnelle.

                Grâce à l’utilisation d’outils numériques modernes et d’une approche centrée sur l’utilisateur, notre
                plateforme aide chacun à mieux comprendre, anticiper et gérer ses dépenses d’assurance.

                La confiance, la transparence et la sécurité des données sont au cœur de notre démarche. Nous nous
                engageons à protéger les informations de nos utilisateurs et à améliorer continuellement notre service
                afin de répondre au mieux à leurs besoins.

                Assur’Aimant, c’est l’assurance pensée pour aujourd’hui et pour demain.</p>
        </section>
        {% endblock %}
    </main>
</body>